.App {
  height : 100vh;
  display: flex;
  flex-direction: column;
  justify-content : center;
  align-items: center;
}

header {
  height : 10vh;
  width : 100%;
  border-bottom : 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height : 10vh;
  width : 100%;
  border-top : 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display:flex;
  justify-content: center;
}
.content > nav{
  border-right : 1px solid red;
  width : 25%;
}
.content > aside{
  border-left : 1px solid red;
  width :25%;
}
.content > main{
  width : 100%;
}

.menu_icon{
  display : none;
}


@media screen and (max-width: 800px){
  footer{
    display : none;
  }

  .leftside{
    display : none;
  }
  aside {
    display : none;
  }

  .menu_icon{
    display : inline;
  }

}
